h2{
    color:rgb(0, 74, 140);
    text-align:center;
    
    
}
a{
    color: #0071CE;
    background-color: white;
    text-decoration: none;
    padding: 10px 17px;
    border: 2px solid #0071CE;
    margin: 20px;
    border-radius: 999px;
}
p{
    
     text-align: center;
}
figure{
    color: rgb(40, 201, 126);
    background-color: white;
    text-decoration: none;
    padding: 10px 100px;
    border: 10px solid blue;
    margin: 50px;

}
.etiquetas{
    color: aqua;
}


